.acordeon{
    width: 700px;
    padding: 40px;
    background-color: whitesmoke;
    
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.acordeon__titulo{

    background-color: rgba(0, 0, 255, 0.459);
    color: white;
    padding: 20px;
    cursor: pointer;
    font-family:  "Poppins", sans-serif;
    
}

.acordeon__texto{
   padding: 10px;
   background: white;
   font-family:  "Poppins", sans-serif;

}
.acordeon__titulo--mod1{

    background-color: black;
}

.acordeon__titulo--mod1:active{
     background-color: aquamarine;
     
}

.acordeon__texto--mod1:hover{

    background-color: aqua;
    transition: 2s;
}

.acordeon__titulo--mod2{

    background-color: crimson;
}

.acordeon__texto--mod2:hover{

    background-color: burlywood;
    border-radius: 35px ;
    transition: 2s;
}

.acordeon__titulo--mod3{
     background-color: rgb(230, 230, 0);


}

.acordeon__titulo--mod3:active{

    width: 710px;
    
}

.acordeon__texto--mod3:hover{
    font-size: 20px;
    transition: 5s;
}