



.boton{
  display: inline-flex;
  width: 120px;
  background-color: blueviolet;
  padding: 12px;
  border: 1px solid blueviolet;
  border-radius: 5px;
  margin: 0 auto;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 20px;
  justify-content: space-between;
  font-weight: 100;
  font-style: normal;
  color: #fff;
  cursor: pointer;
  

}
.boton--border{
   border: 1px solid black;
   background-color: #fff;
   color: blueviolet;

}

.boton:hover{
   background-color: #fff;
   color: blueviolet  ;
   transition: 2s;

}

.boton--border:hover{
   border: 1px solid black;
   background-color: blueviolet;
   color: #fff;
   transition: 2s;

}



.boton--azul:hover{
   background-color: var(--color4);
   transition: 2s;


}



.boton--amarilloSuave{
  background-color: #fff;
   color: var(--color2);


}
.boton--amarilloSuave:hover{
  background-color: var(--color2);
  color: black ;
  transition: 2s;

}

.boton--amarillo{
   background-color: var(--color2);
   color: black ;
   


}

.boton--amarillo:hover{
   background-color: #fff;
   color: var(--color2);
   transition: 2s;

}

.boton--rojoSuave{
   background-color: #fff;
   color: var(--color);

}

.boton--rojoSuave:hover{
   background-color: var(--color);
   color: #fff;
   transition: 2s;

}
.boton--rojo{
   background-color: var(--color);

}
.boton--rojo:hover{
  background-color: #fff;
  color: var(--color);
  transition: 2s;

}

.boton--verdeSuave{
   background-color: #fff ;
   color: var(--color3);


}
.boton--verdeSuave:hover{
  background-color: var(--color3);
  color:#fff;
  transition: 2s;

}

.boton--verde{
  background-color: var(--color3);
  color:#fff;
  
}

.boton--verde:hover{
   
    background-color: #fff ;
   color: var(--color3);
   transition: 2s;

}




.boton__texto{
  /* color: #fff; */

}

.boton__icono{
   /* color: #fff; */


}